<!DOCTYPE html>
<html lang="en" class="theme-default" style="scroll-behavior: smooth;">
  <head>
    <title><%= @page_title || DEFAULT_PAGE_TITLE %></title>
    <%= render 'shared/meta_tags' %>
    <%= render 'shared/stylesheets' %>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  </head>
  <body>
    <header id="main-header">
      <%= render 'shared/header' %>
    </header>
    <main id="main-content">
      <%= yield %>
    </main>
    <footer id="main-footer">
      <%= render 'shared/footer' %>
    </footer>
    <%= render 'shared/modal' %>
    <%= render 'shared/notification' %>
    <%= render 'shared/scripts' %>
  </body>
</html>
